.row{
  display: block;
  position: center;
}
.container{

}
.container1{
  padding-top: 35px;

}
.container2{

}
.container3{

}
.container4{

}
.container5{

}
.container6{

}
.container7{

}
.container8{

}
.container9{

}
